@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

/* Typography */
body {
    background-color: #212121;
    font-weight: 600;
}

.nav-pills a {
    color: #b3b3b3;
    font: 'Montserrat', sans-serif; 
    font-weight: 600;
    font-size: 14px;
}

.nav-pills a:hover {
    color: white;
    border-radius: 0px;
    font: 'Montserrat', sans-serif; 
    font-weight: 600;
    font-size: 14px;
}

.nav-pills .active a:hover {
    color: white;
    border-radius: 0px;
    font: 'Montserrat', sans-serif; 
    font-weight: 600;
    font-size: 14px;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #4b4a4adc;
}

Hr { 
    height:0px;
  }

H1 { 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    margin-top: 10px;
  }

H6 { 
    font-family: 'Montserrat', sans-serif; 
  }

H3 { 
    font-family: 'Montserrat', sans-serif; 
    color: white;
    font-size: 15px;
  }

IFrame { 
    border: none; 
    position: fixed;
    bottom: 0;
    left:0;
  }

P {
    font-family: 'Montserrat', sans-serif; 
    color: white;
    font-size: 15px; 
}

Button {
    display: inline-block;
    font-size: small;
    text-align: center;
    left: 0px;
    margin: 5px;
    position: relative;
    color: #b3b3b3;
    border-color: '#b3b3b3';
  }

/* EDIT THIS PORTION LATER */
Button:hover {
    color: white;
    border-color: white;
    box-shadow: -3px 3px 0px 0 white;
}

A {
    text-align: center; 
}

